.menu_category {
  background: rgb(45, 45, 45);
  min-width: 100px;
  min-height: 150px;
  /* aspect-ratio: 1 / 1; */
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.menu_category_icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  background-color: white;
  border-radius: 2px;
}
.menu_category_name {
  font-size: 14px;
  margin-bottom: 4px;
}

.menu_category_item_count {
  font-size: 10px;
  color: rgb(145, 145, 145);
}
