.left_app_menu {
  /* background: green; */
  width: 200px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  gap: 10px;
  padding: 0 15px 0 10px;
}
.app_menu_list {
  height: 100px;
  /* background: blue; */
}

.app_menu_item {
  padding: 10px 0;
  padding-left: 25px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
  color: rgb(242, 242, 242);
}

.app_menu_item:hover {
  background: rgb(45, 45, 45);
}
.copyright_text {
  text-align: center;
  color: rgb(45, 45, 45);
  line-height: var(--strip-height);
  font-size: 12px;
}
.copyright {
  height: var(--strip-height);
  /* background: darkgreen; */
}
